[user]
	name = Suggon
	email = maharjansagun99@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[alias]
	l = !lazygit
	tree = log --all --graph --pretty=format:'%C(auto)%h – %s  %d %C(bold green)(%ar) %C(cyan)<%aN>%Creset'
[gpg]
	format = ssh
[commit]
	gpgsign = true

# for easier auth, always use SSH url when cloning and adding origin
[url "git@github.com:"]
	insteadOf = https://github.com/
