*.dconf          linguist-language=Git-Config
fstab            linguist-language=Shell
os-release       linguist-language=Shell
updatedb.conf    linguist-language=Shell
shares.conf      linguist-language=Git-Config
sshd.conf        linguist-language=SSH-Config
default.conf     linguist-language=Git-Config
.bashrc_default  linguist-language=Shell
.pam_environment linguist-language=Shell
.blerc           linguist-language=Shell
flatseal/**      linguist-language=Git-Config
gimprc           linguist-language=Scheme
sessionrc        linguist-language=Scheme
lfrc             linguist-language=Vim-Script
config           linguist-language=SSH-Config
