# Due to filesystem limitations (FAT32 vs. EXT4/BTRFS), this file cannot be stowed/symlinked.
# Instead, a better approach would be to point GRUB to this file on this partition.
# To do so, direct the "configfile" path to this location.

# source this config in the ESP's currently active grub.cfg
#
# search.fs_uuid <uuid> root
# configfile /home/<user>/<dotfiles-dir>/SYSTEM/grub/grub.cfg

set timeout=1

# main distro & its iso dumpsite
label=Ubuntu
iso_dir=/home/suggon/iso
export label iso_dir

search --label $label --set=root

# theme (installed using ./theme.sh)
loadfont noto_24
set theme=$prefix/theme/theme.txt
export theme
terminal_output gfxterm

menuentry "Ubuntu" --class=ubuntu {
	linux /boot/vmlinuz root=LABEL=$label quiet splash
	initrd /boot/initrd.img
}

menuentry "Ubuntu (shell)" --class=kbd --hotkey=s {
	linux /boot/vmlinuz root=LABEL=$label quiet splash systemd.unit=emergency.target
	initrd /boot/initrd.img
}

menuentry "ArchLinux" --class=arch --hotkey=a {
	search --label ESP --set=root
	configfile /EFI/arch/grub.cfg
}

# $1: distro_name
# $2: iso_name
function live_iso {
	menuentry "$1" "$2" --class=$1 {
		iso_path=$iso_dir/$2
		loopback loop $iso_path
		export iso_path
		set root=(loop)
		configfile /boot/grub/loopback.cfg
		loopback -d (loop)
	}
}

submenu "Live ISO" --class=ventoy {
	live_iso "ArchLinux" "archlinux-2025.12.01-x86_64.iso"
	live_iso "Kubuntu" "kubuntu-25.10-desktop-amd64.iso"
	live_iso "Debian" "debian-live-13.2.0-amd64-gnome.iso"
}

menuentry "BlissOS" --class=android --hotkey=b {
	search --label BlissOS --set=root
	kdir=/android-2024-10-11
	linux $kdir/kernel root=/dev/ram0 quiet syscall_hardening=off CODEC2_LEVEL=0 FFMPEG_OMX_CODEC=1
	initrd $kdir/initrd.img
}
